body {
  text-align: center;
  display: grid;
  place-content: center;
  height: 95dvh;
  background: #000;
  color: #fff;
}
h1,
h2 {
  font-size: 30px !important;
}
p {
  font-size: 20px;
}
.box {
  border: 3px solid #fff;
  padding: 30px;
  border-radius: 30px;
  box-shadow: -4px 4px 20px -3px;
}
.btnTemCss {
  padding: 5px 10px;
  border: none;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.btn-main {
  background: #a79c03 !important;
  &:hover {
    filter: brightness(80%);
  }
}
.btn-secondry {
  background: #ff5353 !important;
  color: #fff !important;
  &:hover {
    filter: brightness(80%);
  }
}
.flexes {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  flex-wrap: wrap;
}
